<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{$C.title}{$title}</title>
<link rel="stylesheet" type="text/css" href="{$C.static_path}vendor/pickadate/lib/compressed/themes/classic.css">
<link rel="stylesheet" type="text/css" href="{$C.static_path}vendor/pickadate/lib/compressed/themes/classic.date.css">
<link rel="stylesheet" type="text/css" href="{$C.static_path}style/base.css">
</head>
<body>

<header id="top">
	<h1 class="left">
		<present name="C.logo"><img src="{$C.logo}"/></present>
		<span>{$C.title}</span>
	</h1>
	<a class="btn right" href="{:U('Backer/Auth/logout')}">退出 {$Backer.name}</a>
</header>


<nav id="left">
	<ul>
		<foreach name="C.menu" item="m1" key="name1">
			<li>
				<present name="m1.link">
					<a href="{:U($m1['link'])}" class="btn">{$name1}</a>	
				<else />
					<a class="btn">{$name1}</a>	
				</present>

				<present name="m1.sub_menu">
				<ul>
					<foreach name="m1.sub_menu" item='m2' key="name2">
						<li>
							<present name="m2.link">
								<a href="{:U($m2['link'])}" class="btn">{$name2}</a>	
							<else />
								<a class="btn">{$name2}</a>	
							</present>
						</li>
					</foreach>
				</ul>
				</present>

			</li>
		</foreach>
	</ul>
</nav>



<block name="main"><!--page content--></block>


<script src="{$C.static_path}script/jquery-1.7.2.min.js"></script>
<script src="{$C.static_path}vendor/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="{$C.static_path}vendor/pickadate/lib/picker.js"></script>
<script type="text/javascript" src="{$C.static_path}vendor/pickadate/lib/picker.date.js"></script>
<script src="{$C.static_path}script/backer.base.js"></script>
<block name="script"><!--script here--></block>


<footer><a href="http://sunkey.me" target="_blank">Backend by Sunkey @2016</a></footer>
</body>
</html>